.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--base50);
  padding: 20px;
}

/* Dark Theme */
[data-theme='dark'] .page {
  background: var(--base75);
}
