html body {
  --primary400: var(--custom-primary, var(--blue800));
  --primary500: var(--custom-secondary, var(--blue900));
  --primary600: var(--custom-accent, var(--blue1000));
  --primary700: var(--custom-accent, var(--blue1100));
}

[data-theme='dark'] {
  --primary400: var(--custom-primary, var(--blue600));
  --primary500: var(--custom-secondary, var(--blue700));
  --primary600: var(--custom-accent, var(--blue800));
  --primary700: var(--custom-accent, var(--blue900));
}
