.grid {
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: none;
  gap: 12px;
  margin-bottom: 16px;
}

.row:first-child {
  margin-top: 0;
}

.row.compare {
  grid-template-columns: max-content 1fr 1fr;
}

.col {
  padding: 20px;
  min-height: 300px;
  border: 1px solid #d0d0d0;
  background: var(--base75);
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;
  z-index: 10;
  overflow: visible;
}

.col:hover {
  border-color: var(--primary400);
  z-index: 20;
}

/* Dark Theme */
[data-theme='dark'] .col {
  background: var(--base100);
  border-color: #555555;
}

[data-theme='dark'] .col:hover {
  border-color: var(--primary400);
}

.col.one {
  grid-column: span 6;
}

.col.two {
  grid-column: span 3;
}

.col.three {
  grid-column: span 2;
}

.col.two-one:first-child {
  grid-column: span 4;
}

.col.two-one:last-child {
  grid-column: span 2;
}

.col.one-two:first-child {
  grid-column: span 2;
}

.col.one-two:last-child {
  grid-column: span 4;
}

.col:first-child {
  border-inline-start: 1px solid var(--base300);
}

.col:last-child {
  border-inline-end: 1px solid var(--base300);
}

@media only screen and (max-width: 992px) {
  .row {
    border: 0;
  }

  .row > .col {
    border-top: 1px solid var(--base300);
    border-inline-start: 0;
    border-inline-end: 0;
    padding: 16px 0;
    min-height: 250px;
  }

  .col.two,
  .col.three,
  .col.one-two,
  .col.two-one {
    grid-column: span 6 !important;
  }
}
