.container {
  color: var(--font-color300);
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 120px;
  padding: 20px;
}
